/* client/src/components/BuyProductButton.css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Passion+One');
/* font-family: 'Passion One', cursive;
font-family: 'Open Sans', sans-serif; */
button.BuyProduct {
  flex: 1;
  border: 1px solid #ccc;
  font-size: 150%;
  margin: 12px;
  cursor: pointer;
  /* max-width: 50px; */
  background-color: #a8e734;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-family: 'Passion One', cursive;
}

button.BuyProduct:hover {
  background-color: #719f1a;
}
